/*M!999999\- enable the sandbox mode */ 
-- MariaDB dump 10.19  Distrib 10.11.18-MariaDB, for debian-linux-gnu (x86_64)
--
-- Host: localhost    Database: sisintupt
-- ------------------------------------------------------
-- Server version	10.11.18-MariaDB-ubu2204

/*!40101 SET @OLD_CHARACTER_SET_CLIENT=@@CHARACTER_SET_CLIENT */;
/*!40101 SET @OLD_CHARACTER_SET_RESULTS=@@CHARACTER_SET_RESULTS */;
/*!40101 SET @OLD_COLLATION_CONNECTION=@@COLLATION_CONNECTION */;
/*!40101 SET NAMES utf8mb4 */;
/*!40103 SET @OLD_TIME_ZONE=@@TIME_ZONE */;
/*!40103 SET TIME_ZONE='+00:00' */;
/*!40014 SET @OLD_UNIQUE_CHECKS=@@UNIQUE_CHECKS, UNIQUE_CHECKS=0 */;
/*!40014 SET @OLD_FOREIGN_KEY_CHECKS=@@FOREIGN_KEY_CHECKS, FOREIGN_KEY_CHECKS=0 */;
/*!40101 SET @OLD_SQL_MODE=@@SQL_MODE, SQL_MODE='NO_AUTO_VALUE_ON_ZERO' */;
/*!40111 SET @OLD_SQL_NOTES=@@SQL_NOTES, SQL_NOTES=0 */;

--
-- Table structure for table `administrativo`
--

DROP TABLE IF EXISTS `administrativo`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8mb4 */;
CREATE TABLE `administrativo` (
  `IdAdministrativo` int(10) unsigned NOT NULL AUTO_INCREMENT,
  `IdUsuario` int(10) unsigned NOT NULL,
  `Escuela` int(10) unsigned DEFAULT NULL,
  `Turno` enum('Ma├▒ana','Tarde','Noche','Completo') NOT NULL DEFAULT 'Completo',
  `Extension` varchar(10) DEFAULT NULL,
  `FechaIncorporacion` date NOT NULL,
  PRIMARY KEY (`IdAdministrativo`),
  UNIQUE KEY `administrativo_idusuario_unique` (`IdUsuario`),
  KEY `administrativo_escuela_foreign` (`Escuela`),
  CONSTRAINT `administrativo_escuela_foreign` FOREIGN KEY (`Escuela`) REFERENCES `escuela` (`IdEscuela`),
  CONSTRAINT `administrativo_idusuario_foreign` FOREIGN KEY (`IdUsuario`) REFERENCES `usuario` (`IdUsuario`) ON DELETE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=78 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `administrativo`
--

LOCK TABLES `administrativo` WRITE;
/*!40000 ALTER TABLE `administrativo` DISABLE KEYS */;
/*!40000 ALTER TABLE `administrativo` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `auditoriareserva`
--

DROP TABLE IF EXISTS `auditoriareserva`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8mb4 */;
CREATE TABLE `auditoriareserva` (
  `IdAudit` int(10) unsigned NOT NULL AUTO_INCREMENT,
  `IdReserva` int(10) unsigned NOT NULL,
  `EstadoAnterior` varchar(50) NOT NULL,
  `EstadoNuevo` varchar(50) NOT NULL,
  `FechaCambio` datetime NOT NULL DEFAULT current_timestamp(),
  `UsuarioCambio` int(10) unsigned DEFAULT NULL,
  PRIMARY KEY (`IdAudit`),
  KEY `auditoriareserva_idreserva_foreign` (`IdReserva`),
  KEY `auditoriareserva_usuariocambio_foreign` (`UsuarioCambio`),
  CONSTRAINT `auditoriareserva_idreserva_foreign` FOREIGN KEY (`IdReserva`) REFERENCES `reserva` (`IdReserva`) ON DELETE CASCADE ON UPDATE CASCADE,
  CONSTRAINT `auditoriareserva_usuariocambio_foreign` FOREIGN KEY (`UsuarioCambio`) REFERENCES `usuario` (`IdUsuario`) ON DELETE SET NULL ON UPDATE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `auditoriareserva`
--

LOCK TABLES `auditoriareserva` WRITE;
/*!40000 ALTER TABLE `auditoriareserva` DISABLE KEYS */;
/*!40000 ALTER TABLE `auditoriareserva` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `bloqueshorarios`
--

DROP TABLE IF EXISTS `bloqueshorarios`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8mb4 */;
CREATE TABLE `bloqueshorarios` (
  `IdBloque` int(10) unsigned NOT NULL AUTO_INCREMENT,
  `Orden` int(11) NOT NULL,
  `Nombre` varchar(50) NOT NULL,
  `HoraInicio` time NOT NULL,
  `HoraFinal` time NOT NULL,
  PRIMARY KEY (`IdBloque`)
) ENGINE=InnoDB AUTO_INCREMENT=18 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `bloqueshorarios`
--

LOCK TABLES `bloqueshorarios` WRITE;
/*!40000 ALTER TABLE `bloqueshorarios` DISABLE KEYS */;
/*!40000 ALTER TABLE `bloqueshorarios` ENABLE KEYS */;
UNLOCK TABLES;
/*!50003 SET @saved_cs_client      = @@character_set_client */ ;
/*!50003 SET @saved_cs_results     = @@character_set_results */ ;
/*!50003 SET @saved_col_connection = @@collation_connection */ ;
/*!50003 SET character_set_client  = utf8mb4 */ ;
/*!50003 SET character_set_results = utf8mb4 */ ;
/*!50003 SET collation_connection  = utf8mb4_unicode_ci */ ;
/*!50003 SET @saved_sql_mode       = @@sql_mode */ ;
/*!50003 SET sql_mode              = 'ONLY_FULL_GROUP_BY,STRICT_TRANS_TABLES,NO_ZERO_IN_DATE,NO_ZERO_DATE,ERROR_FOR_DIVISION_BY_ZERO,NO_ENGINE_SUBSTITUTION' */ ;
DELIMITER ;;
/*!50003 CREATE*/ /*!50017 DEFINER=`root`@`localhost`*/ /*!50003 TRIGGER trg_crear_horarios AFTER INSERT ON bloqueshorarios FOR EACH ROW 
            BEGIN
                INSERT INTO horarios (espacio, bloque, diaSemana, ocupado)
                SELECT e.IdEspacio, NEW.IdBloque, d.dia, 0
                FROM espacio e
                CROSS JOIN (
                    SELECT 'Lunes' AS dia
                    UNION ALL SELECT 'Martes'
                    UNION ALL SELECT 'Miercoles'
                    UNION ALL SELECT 'Jueves'
                    UNION ALL SELECT 'Viernes'
                    UNION ALL SELECT 'Sabado'
                ) d;
            END 
*/;;
DELIMITER ;
/*!50003 SET sql_mode              = @saved_sql_mode */ ;
/*!50003 SET character_set_client  = @saved_cs_client */ ;
/*!50003 SET character_set_results = @saved_cs_results */ ;
/*!50003 SET collation_connection  = @saved_col_connection */ ;
/*!50003 SET @saved_cs_client      = @@character_set_client */ ;
/*!50003 SET @saved_cs_results     = @@character_set_results */ ;
/*!50003 SET @saved_col_connection = @@collation_connection */ ;
/*!50003 SET character_set_client  = utf8mb4 */ ;
/*!50003 SET character_set_results = utf8mb4 */ ;
/*!50003 SET collation_connection  = utf8mb4_unicode_ci */ ;
/*!50003 SET @saved_sql_mode       = @@sql_mode */ ;
/*!50003 SET sql_mode              = 'ONLY_FULL_GROUP_BY,STRICT_TRANS_TABLES,NO_ZERO_IN_DATE,NO_ZERO_DATE,ERROR_FOR_DIVISION_BY_ZERO,NO_ENGINE_SUBSTITUTION' */ ;
DELIMITER ;;
/*!50003 CREATE*/ /*!50017 DEFINER=`root`@`localhost`*/ /*!50003 TRIGGER trg_eliminar_horarios_bloque AFTER DELETE ON bloqueshorarios FOR EACH ROW 
            BEGIN
                DELETE FROM horarios 
                WHERE bloque = OLD.IdBloque;
            END 
*/;;
DELIMITER ;
/*!50003 SET sql_mode              = @saved_sql_mode */ ;
/*!50003 SET character_set_client  = @saved_cs_client */ ;
/*!50003 SET character_set_results = @saved_cs_results */ ;
/*!50003 SET collation_connection  = @saved_col_connection */ ;

--
-- Table structure for table `cache`
--

DROP TABLE IF EXISTS `cache`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8mb4 */;
CREATE TABLE `cache` (
  `key` varchar(255) NOT NULL,
  `value` mediumtext NOT NULL,
  `expiration` int(11) NOT NULL,
  PRIMARY KEY (`key`),
  KEY `cache_expiration_index` (`expiration`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `cache`
--

LOCK TABLES `cache` WRITE;
/*!40000 ALTER TABLE `cache` DISABLE KEYS */;
/*!40000 ALTER TABLE `cache` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `cache_locks`
--

DROP TABLE IF EXISTS `cache_locks`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8mb4 */;
CREATE TABLE `cache_locks` (
  `key` varchar(255) NOT NULL,
  `owner` varchar(255) NOT NULL,
  `expiration` int(11) NOT NULL,
  PRIMARY KEY (`key`),
  KEY `cache_locks_expiration_index` (`expiration`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `cache_locks`
--

LOCK TABLES `cache_locks` WRITE;
/*!40000 ALTER TABLE `cache_locks` DISABLE KEYS */;
/*!40000 ALTER TABLE `cache_locks` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `cita_policlinico`
--

DROP TABLE IF EXISTS `cita_policlinico`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8mb4 */;
CREATE TABLE `cita_policlinico` (
  `IdCita` int(10) unsigned NOT NULL AUTO_INCREMENT,
  `Estudiante` int(10) unsigned NOT NULL,
  `Medico` int(10) unsigned NOT NULL,
  `TipoAtencion` int(10) unsigned NOT NULL,
  `Bloque` int(10) unsigned NOT NULL,
  `Fecha` date NOT NULL,
  `Motivo` text DEFAULT NULL,
  `Estado` varchar(30) NOT NULL DEFAULT 'Pendiente',
  `FechaSolicitud` datetime NOT NULL DEFAULT current_timestamp(),
  PRIMARY KEY (`IdCita`),
  KEY `cita_policlinico_estudiante_foreign` (`Estudiante`),
  KEY `cita_policlinico_medico_foreign` (`Medico`),
  KEY `cita_policlinico_tipoatencion_foreign` (`TipoAtencion`),
  KEY `cita_policlinico_bloque_foreign` (`Bloque`),
  CONSTRAINT `cita_policlinico_bloque_foreign` FOREIGN KEY (`Bloque`) REFERENCES `bloqueshorarios` (`IdBloque`),
  CONSTRAINT `cita_policlinico_estudiante_foreign` FOREIGN KEY (`Estudiante`) REFERENCES `usuario` (`IdUsuario`),
  CONSTRAINT `cita_policlinico_medico_foreign` FOREIGN KEY (`Medico`) REFERENCES `medico` (`IdMedico`),
  CONSTRAINT `cita_policlinico_tipoatencion_foreign` FOREIGN KEY (`TipoAtencion`) REFERENCES `tipo_atencion` (`IdTipoAtencion`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `cita_policlinico`
--

LOCK TABLES `cita_policlinico` WRITE;
/*!40000 ALTER TABLE `cita_policlinico` DISABLE KEYS */;
/*!40000 ALTER TABLE `cita_policlinico` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `cita_psicologia`
--

DROP TABLE IF EXISTS `cita_psicologia`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8mb4 */;
CREATE TABLE `cita_psicologia` (
  `IdCita` int(10) unsigned NOT NULL AUTO_INCREMENT,
  `Estudiante` int(10) unsigned NOT NULL,
  `Psicologo` int(10) unsigned NOT NULL,
  `Bloque` int(10) unsigned NOT NULL,
  `Fecha` date NOT NULL,
  `Motivo` text DEFAULT NULL,
  `Estado` varchar(30) NOT NULL DEFAULT 'Pendiente',
  `FechaSolicitud` datetime NOT NULL DEFAULT current_timestamp(),
  PRIMARY KEY (`IdCita`),
  KEY `cita_psicologia_estudiante_foreign` (`Estudiante`),
  KEY `cita_psicologia_psicologo_foreign` (`Psicologo`),
  KEY `cita_psicologia_bloque_foreign` (`Bloque`),
  CONSTRAINT `cita_psicologia_bloque_foreign` FOREIGN KEY (`Bloque`) REFERENCES `bloqueshorarios` (`IdBloque`),
  CONSTRAINT `cita_psicologia_estudiante_foreign` FOREIGN KEY (`Estudiante`) REFERENCES `usuario` (`IdUsuario`),
  CONSTRAINT `cita_psicologia_psicologo_foreign` FOREIGN KEY (`Psicologo`) REFERENCES `psicologo` (`IdPsicologo`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `cita_psicologia`
--

LOCK TABLES `cita_psicologia` WRITE;
/*!40000 ALTER TABLE `cita_psicologia` DISABLE KEYS */;
/*!40000 ALTER TABLE `cita_psicologia` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `cursos`
--

DROP TABLE IF EXISTS `cursos`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8mb4 */;
CREATE TABLE `cursos` (
  `IdCurso` int(10) unsigned NOT NULL AUTO_INCREMENT,
  `Nombre` varchar(100) NOT NULL,
  `Facultad` int(10) unsigned NOT NULL,
  `Escuela` int(10) unsigned NOT NULL,
  `Ciclo` varchar(5) NOT NULL,
  `Estado` tinyint(1) NOT NULL DEFAULT 1,
  PRIMARY KEY (`IdCurso`),
  KEY `cursos_facultad_foreign` (`Facultad`),
  KEY `cursos_escuela_foreign` (`Escuela`),
  CONSTRAINT `cursos_escuela_foreign` FOREIGN KEY (`Escuela`) REFERENCES `escuela` (`IdEscuela`),
  CONSTRAINT `cursos_facultad_foreign` FOREIGN KEY (`Facultad`) REFERENCES `facultad` (`IdFacultad`)
) ENGINE=InnoDB AUTO_INCREMENT=3 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `cursos`
--

LOCK TABLES `cursos` WRITE;
/*!40000 ALTER TABLE `cursos` DISABLE KEYS */;
INSERT INTO `cursos` VALUES
(1,'POGRAMACION',1,2,'5',1),
(2,'CIVIL',1,1,'2',1);
/*!40000 ALTER TABLE `cursos` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `docente`
--

DROP TABLE IF EXISTS `docente`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8mb4 */;
CREATE TABLE `docente` (
  `IdDocente` bigint(20) NOT NULL,
  `IdUsuario` int(10) unsigned NOT NULL,
  `CodigoDocente` varchar(255) NOT NULL,
  `Escuela` int(10) unsigned DEFAULT NULL,
  `TipoContrato` enum('Tiempo Completo','Medio Tiempo','Contratado') NOT NULL,
  `Especialidad` varchar(100) DEFAULT NULL,
  `FechaIncorporacion` date NOT NULL,
  PRIMARY KEY (`IdDocente`),
  UNIQUE KEY `docente_idusuario_unique` (`IdUsuario`),
  UNIQUE KEY `docente_codigodocente_unique` (`CodigoDocente`),
  KEY `docente_escuela_foreign` (`Escuela`),
  CONSTRAINT `docente_escuela_foreign` FOREIGN KEY (`Escuela`) REFERENCES `escuela` (`IdEscuela`),
  CONSTRAINT `docente_idusuario_foreign` FOREIGN KEY (`IdUsuario`) REFERENCES `usuario` (`IdUsuario`) ON DELETE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `docente`
--

LOCK TABLES `docente` WRITE;
/*!40000 ALTER TABLE `docente` DISABLE KEYS */;
/*!40000 ALTER TABLE `docente` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `escuela`
--

DROP TABLE IF EXISTS `escuela`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8mb4 */;
CREATE TABLE `escuela` (
  `IdEscuela` int(10) unsigned NOT NULL AUTO_INCREMENT,
  `IdFacultad` int(10) unsigned NOT NULL,
  `Nombre` varchar(255) NOT NULL,
  PRIMARY KEY (`IdEscuela`),
  KEY `escuela_idfacultad_foreign` (`IdFacultad`),
  CONSTRAINT `escuela_idfacultad_foreign` FOREIGN KEY (`IdFacultad`) REFERENCES `facultad` (`IdFacultad`)
) ENGINE=InnoDB AUTO_INCREMENT=20 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `escuela`
--

LOCK TABLES `escuela` WRITE;
/*!40000 ALTER TABLE `escuela` DISABLE KEYS */;
/*!40000 ALTER TABLE `escuela` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `espacio`
--

DROP TABLE IF EXISTS `espacio`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8mb4 */;
CREATE TABLE `espacio` (
  `IdEspacio` int(10) unsigned NOT NULL AUTO_INCREMENT,
  `Codigo` varchar(20) NOT NULL,
  `Nombre` varchar(100) NOT NULL,
  `Tipo` enum('Laboratorio','Salon') NOT NULL DEFAULT 'Laboratorio',
  `Capacidad` int(11) NOT NULL,
  `Equipamiento` text DEFAULT NULL,
  `Escuela` int(10) unsigned NOT NULL,
  `Estado` int(11) NOT NULL DEFAULT 1,
  PRIMARY KEY (`IdEspacio`),
  UNIQUE KEY `espacio_codigo_unique` (`Codigo`),
  KEY `espacio_escuela_foreign` (`Escuela`),
  CONSTRAINT `espacio_escuela_foreign` FOREIGN KEY (`Escuela`) REFERENCES `escuela` (`IdEscuela`)
) ENGINE=InnoDB AUTO_INCREMENT=114 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `espacio`
--

LOCK TABLES `espacio` WRITE;
/*!40000 ALTER TABLE `espacio` DISABLE KEYS */;
/*!40000 ALTER TABLE `espacio` ENABLE KEYS */;
UNLOCK TABLES;
/*!50003 SET @saved_cs_client      = @@character_set_client */ ;
/*!50003 SET @saved_cs_results     = @@character_set_results */ ;
/*!50003 SET @saved_col_connection = @@collation_connection */ ;
/*!50003 SET character_set_client  = utf8mb4 */ ;
/*!50003 SET character_set_results = utf8mb4 */ ;
/*!50003 SET collation_connection  = utf8mb4_unicode_ci */ ;
/*!50003 SET @saved_sql_mode       = @@sql_mode */ ;
/*!50003 SET sql_mode              = 'ONLY_FULL_GROUP_BY,STRICT_TRANS_TABLES,NO_ZERO_IN_DATE,NO_ZERO_DATE,ERROR_FOR_DIVISION_BY_ZERO,NO_ENGINE_SUBSTITUTION' */ ;
DELIMITER ;;
/*!50003 CREATE*/ /*!50017 DEFINER=`root`@`localhost`*/ /*!50003 TRIGGER trg_crear_horarios_espacios AFTER INSERT ON espacio FOR EACH ROW 
            BEGIN
                INSERT INTO horarios (espacio, bloque, diaSemana, ocupado)
                SELECT NEW.IdEspacio, b.IdBloque, d.dia, 0
                FROM bloqueshorarios b
                CROSS JOIN (
                    SELECT 'Lunes' AS dia UNION SELECT 'Martes' UNION SELECT 'Miercoles'
                    UNION SELECT 'Jueves' UNION SELECT 'Viernes' UNION SELECT 'Sabado'
                ) d;
            END 
*/;;
DELIMITER ;
/*!50003 SET sql_mode              = @saved_sql_mode */ ;
/*!50003 SET character_set_client  = @saved_cs_client */ ;
/*!50003 SET character_set_results = @saved_cs_results */ ;
/*!50003 SET collation_connection  = @saved_col_connection */ ;
/*!50003 SET @saved_cs_client      = @@character_set_client */ ;
/*!50003 SET @saved_cs_results     = @@character_set_results */ ;
/*!50003 SET @saved_col_connection = @@collation_connection */ ;
/*!50003 SET character_set_client  = utf8mb4 */ ;
/*!50003 SET character_set_results = utf8mb4 */ ;
/*!50003 SET collation_connection  = utf8mb4_unicode_ci */ ;
/*!50003 SET @saved_sql_mode       = @@sql_mode */ ;
/*!50003 SET sql_mode              = 'ONLY_FULL_GROUP_BY,STRICT_TRANS_TABLES,NO_ZERO_IN_DATE,NO_ZERO_DATE,ERROR_FOR_DIVISION_BY_ZERO,NO_ENGINE_SUBSTITUTION' */ ;
DELIMITER ;;
/*!50003 CREATE*/ /*!50017 DEFINER=`root`@`localhost`*/ /*!50003 TRIGGER trg_eliminar_horarios_espacio AFTER DELETE ON espacio FOR EACH ROW 
            BEGIN
                DELETE FROM horarios 
                WHERE espacio = OLD.IdEspacio;
            END 
*/;;
DELIMITER ;
/*!50003 SET sql_mode              = @saved_sql_mode */ ;
/*!50003 SET character_set_client  = @saved_cs_client */ ;
/*!50003 SET character_set_results = @saved_cs_results */ ;
/*!50003 SET collation_connection  = @saved_col_connection */ ;

--
-- Table structure for table `estudiante`
--

DROP TABLE IF EXISTS `estudiante`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8mb4 */;
CREATE TABLE `estudiante` (
  `IdEstudiante` bigint(20) NOT NULL,
  `IdUsuario` int(10) unsigned NOT NULL,
  `Codigo` varchar(255) NOT NULL,
  `Escuela` int(10) unsigned NOT NULL,
  PRIMARY KEY (`IdEstudiante`),
  UNIQUE KEY `estudiante_idusuario_unique` (`IdUsuario`),
  UNIQUE KEY `estudiante_codigo_unique` (`Codigo`),
  KEY `estudiante_escuela_foreign` (`Escuela`),
  CONSTRAINT `estudiante_escuela_foreign` FOREIGN KEY (`Escuela`) REFERENCES `escuela` (`IdEscuela`),
  CONSTRAINT `estudiante_idusuario_foreign` FOREIGN KEY (`IdUsuario`) REFERENCES `usuario` (`IdUsuario`) ON DELETE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `estudiante`
--

LOCK TABLES `estudiante` WRITE;
/*!40000 ALTER TABLE `estudiante` DISABLE KEYS */;
/*!40000 ALTER TABLE `estudiante` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `facultad`
--

DROP TABLE IF EXISTS `facultad`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8mb4 */;
CREATE TABLE `facultad` (
  `IdFacultad` int(10) unsigned NOT NULL AUTO_INCREMENT,
  `Nombre` varchar(255) NOT NULL,
  `Abreviatura` varchar(255) DEFAULT NULL,
  PRIMARY KEY (`IdFacultad`),
  UNIQUE KEY `facultad_nombre_unique` (`Nombre`),
  UNIQUE KEY `facultad_abreviatura_unique` (`Abreviatura`)
) ENGINE=InnoDB AUTO_INCREMENT=7 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `facultad`
--

LOCK TABLES `facultad` WRITE;
/*!40000 ALTER TABLE `facultad` DISABLE KEYS */;
INSERT INTO `facultad` VALUES
(1,'Facultad de Ingenier├¡a','FAING'),
(2,'Facultad de Derecho y Ciencias Pol├¡ticas','FADE'),
(3,'Facultad de Ciencias Empresariales','FACEM'),
(4,'Facultad de Educaci├│n, Ciencias de la Comunicaci├│n','FAEDCOH'),
(5,'Facultad de Ciencias De la Salud','FACSA'),
(6,'Facultad de Arquitectura y Urbanismo','FAU');
/*!40000 ALTER TABLE `facultad` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `failed_jobs`
--

DROP TABLE IF EXISTS `failed_jobs`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8mb4 */;
CREATE TABLE `failed_jobs` (
  `id` bigint(20) unsigned NOT NULL AUTO_INCREMENT,
  `uuid` varchar(255) NOT NULL,
  `connection` text NOT NULL,
  `queue` text NOT NULL,
  `payload` longtext NOT NULL,
  `exception` longtext NOT NULL,
  `failed_at` timestamp NOT NULL DEFAULT current_timestamp(),
  PRIMARY KEY (`id`),
  UNIQUE KEY `failed_jobs_uuid_unique` (`uuid`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `failed_jobs`
--

LOCK TABLES `failed_jobs` WRITE;
/*!40000 ALTER TABLE `failed_jobs` DISABLE KEYS */;
/*!40000 ALTER TABLE `failed_jobs` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `horario_curso`
--

DROP TABLE IF EXISTS `horario_curso`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8mb4 */;
CREATE TABLE `horario_curso` (
  `IdHorarioCurso` int(10) unsigned NOT NULL AUTO_INCREMENT,
  `Curso` int(10) unsigned NOT NULL,
  `Docente` int(10) unsigned NOT NULL,
  `Espacio` int(10) unsigned NOT NULL,
  `Bloque` int(10) unsigned NOT NULL,
  `DiaSemana` enum('Lunes','Martes','Miercoles','Jueves','Viernes','Sabado') NOT NULL,
  `FechaInicio` date NOT NULL,
  `FechaFin` date NOT NULL,
  `Estado` tinyint(1) NOT NULL DEFAULT 1,
  PRIMARY KEY (`IdHorarioCurso`),
  KEY `horario_curso_curso_foreign` (`Curso`),
  KEY `horario_curso_docente_foreign` (`Docente`),
  KEY `horario_curso_espacio_foreign` (`Espacio`),
  KEY `horario_curso_bloque_foreign` (`Bloque`),
  CONSTRAINT `horario_curso_bloque_foreign` FOREIGN KEY (`Bloque`) REFERENCES `bloqueshorarios` (`IdBloque`),
  CONSTRAINT `horario_curso_curso_foreign` FOREIGN KEY (`Curso`) REFERENCES `cursos` (`IdCurso`),
  CONSTRAINT `horario_curso_docente_foreign` FOREIGN KEY (`Docente`) REFERENCES `usuario` (`IdUsuario`),
  CONSTRAINT `horario_curso_espacio_foreign` FOREIGN KEY (`Espacio`) REFERENCES `espacio` (`IdEspacio`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `horario_curso`
--

LOCK TABLES `horario_curso` WRITE;
/*!40000 ALTER TABLE `horario_curso` DISABLE KEYS */;
/*!40000 ALTER TABLE `horario_curso` ENABLE KEYS */;
UNLOCK TABLES;
/*!50003 SET @saved_cs_client      = @@character_set_client */ ;
/*!50003 SET @saved_cs_results     = @@character_set_results */ ;
/*!50003 SET @saved_col_connection = @@collation_connection */ ;
/*!50003 SET character_set_client  = utf8mb4 */ ;
/*!50003 SET character_set_results = utf8mb4 */ ;
/*!50003 SET collation_connection  = utf8mb4_unicode_ci */ ;
/*!50003 SET @saved_sql_mode       = @@sql_mode */ ;
/*!50003 SET sql_mode              = 'ONLY_FULL_GROUP_BY,STRICT_TRANS_TABLES,NO_ZERO_IN_DATE,NO_ZERO_DATE,ERROR_FOR_DIVISION_BY_ZERO,NO_ENGINE_SUBSTITUTION' */ ;
DELIMITER ;;
/*!50003 CREATE*/ /*!50017 DEFINER=`root`@`localhost`*/ /*!50003 TRIGGER trg_bloquear_horario_curso_insert AFTER INSERT ON horario_curso FOR EACH ROW 
            BEGIN
                IF CURDATE() BETWEEN NEW.FechaInicio AND NEW.FechaFin AND NEW.Estado = 1 THEN
                    UPDATE horarios 
                    SET ocupado = 1 
                    WHERE espacio = NEW.Espacio 
                      AND bloque = NEW.Bloque 
                      AND diaSemana = NEW.DiaSemana;
                END IF;
            END 
*/;;
DELIMITER ;
/*!50003 SET sql_mode              = @saved_sql_mode */ ;
/*!50003 SET character_set_client  = @saved_cs_client */ ;
/*!50003 SET character_set_results = @saved_cs_results */ ;
/*!50003 SET collation_connection  = @saved_col_connection */ ;
/*!50003 SET @saved_cs_client      = @@character_set_client */ ;
/*!50003 SET @saved_cs_results     = @@character_set_results */ ;
/*!50003 SET @saved_col_connection = @@collation_connection */ ;
/*!50003 SET character_set_client  = utf8mb4 */ ;
/*!50003 SET character_set_results = utf8mb4 */ ;
/*!50003 SET collation_connection  = utf8mb4_unicode_ci */ ;
/*!50003 SET @saved_sql_mode       = @@sql_mode */ ;
/*!50003 SET sql_mode              = 'ONLY_FULL_GROUP_BY,STRICT_TRANS_TABLES,NO_ZERO_IN_DATE,NO_ZERO_DATE,ERROR_FOR_DIVISION_BY_ZERO,NO_ENGINE_SUBSTITUTION' */ ;
DELIMITER ;;
/*!50003 CREATE*/ /*!50017 DEFINER=`root`@`localhost`*/ /*!50003 TRIGGER trg_bloquear_horario_curso_update AFTER UPDATE ON horario_curso FOR EACH ROW 
            BEGIN
                IF (OLD.Estado = 1 AND NEW.Estado = 0) OR 
                   (OLD.Estado = 1 AND (NEW.Espacio != OLD.Espacio OR NEW.Bloque != OLD.Bloque OR NEW.DiaSemana != OLD.DiaSemana)) OR
                   (OLD.Estado = 1 AND CURDATE() NOT BETWEEN NEW.FechaInicio AND NEW.FechaFin) THEN
                    
                    UPDATE horarios 
                    SET ocupado = 0 
                    WHERE espacio = OLD.Espacio 
                      AND bloque = OLD.Bloque 
                      AND diaSemana = OLD.DiaSemana;
                END IF;
                
                IF NEW.Estado = 1 AND CURDATE() BETWEEN NEW.FechaInicio AND NEW.FechaFin THEN
                    UPDATE horarios 
                    SET ocupado = 1 
                    WHERE espacio = NEW.Espacio 
                      AND bloque = NEW.Bloque 
                      AND diaSemana = NEW.DiaSemana;
                END IF;
            END 
*/;;
DELIMITER ;
/*!50003 SET sql_mode              = @saved_sql_mode */ ;
/*!50003 SET character_set_client  = @saved_cs_client */ ;
/*!50003 SET character_set_results = @saved_cs_results */ ;
/*!50003 SET collation_connection  = @saved_col_connection */ ;
/*!50003 SET @saved_cs_client      = @@character_set_client */ ;
/*!50003 SET @saved_cs_results     = @@character_set_results */ ;
/*!50003 SET @saved_col_connection = @@collation_connection */ ;
/*!50003 SET character_set_client  = utf8mb4 */ ;
/*!50003 SET character_set_results = utf8mb4 */ ;
/*!50003 SET collation_connection  = utf8mb4_unicode_ci */ ;
/*!50003 SET @saved_sql_mode       = @@sql_mode */ ;
/*!50003 SET sql_mode              = 'ONLY_FULL_GROUP_BY,STRICT_TRANS_TABLES,NO_ZERO_IN_DATE,NO_ZERO_DATE,ERROR_FOR_DIVISION_BY_ZERO,NO_ENGINE_SUBSTITUTION' */ ;
DELIMITER ;;
/*!50003 CREATE*/ /*!50017 DEFINER=`root`@`localhost`*/ /*!50003 TRIGGER trg_liberar_horario_curso_delete AFTER DELETE ON horario_curso FOR EACH ROW 
            BEGIN
                UPDATE horarios 
                SET ocupado = 0 
                WHERE espacio = OLD.Espacio 
                  AND bloque = OLD.Bloque 
                  AND diaSemana = OLD.DiaSemana;
            END 
*/;;
DELIMITER ;
/*!50003 SET sql_mode              = @saved_sql_mode */ ;
/*!50003 SET character_set_client  = @saved_cs_client */ ;
/*!50003 SET character_set_results = @saved_cs_results */ ;
/*!50003 SET collation_connection  = @saved_col_connection */ ;

--
-- Table structure for table `horarios`
--

DROP TABLE IF EXISTS `horarios`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8mb4 */;
CREATE TABLE `horarios` (
  `IdHorario` int(10) unsigned NOT NULL AUTO_INCREMENT,
  `espacio` int(10) unsigned NOT NULL,
  `bloque` int(10) unsigned NOT NULL,
  `diaSemana` enum('Lunes','Martes','Miercoles','Jueves','Viernes','Sabado') NOT NULL,
  `ocupado` tinyint(1) NOT NULL DEFAULT 0,
  PRIMARY KEY (`IdHorario`),
  KEY `horarios_espacio_foreign` (`espacio`),
  KEY `horarios_bloque_foreign` (`bloque`),
  CONSTRAINT `horarios_bloque_foreign` FOREIGN KEY (`bloque`) REFERENCES `bloqueshorarios` (`IdBloque`) ON DELETE CASCADE ON UPDATE CASCADE,
  CONSTRAINT `horarios_espacio_foreign` FOREIGN KEY (`espacio`) REFERENCES `espacio` (`IdEspacio`) ON DELETE CASCADE ON UPDATE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=14733 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `horarios`
--

LOCK TABLES `horarios` WRITE;
/*!40000 ALTER TABLE `horarios` DISABLE KEYS */;
/*!40000 ALTER TABLE `horarios` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `incidencia`
--

DROP TABLE IF EXISTS `incidencia`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8mb4 */;
CREATE TABLE `incidencia` (
  `IdIncidencia` int(10) unsigned NOT NULL AUTO_INCREMENT,
  `Reserva` int(10) unsigned NOT NULL,
  `Descripcion` text NOT NULL,
  `FechaReporte` datetime DEFAULT current_timestamp(),
  PRIMARY KEY (`IdIncidencia`),
  KEY `incidencia_reserva_foreign` (`Reserva`),
  CONSTRAINT `incidencia_reserva_foreign` FOREIGN KEY (`Reserva`) REFERENCES `reserva` (`IdReserva`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `incidencia`
--

LOCK TABLES `incidencia` WRITE;
/*!40000 ALTER TABLE `incidencia` DISABLE KEYS */;
/*!40000 ALTER TABLE `incidencia` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `job_batches`
--

DROP TABLE IF EXISTS `job_batches`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8mb4 */;
CREATE TABLE `job_batches` (
  `id` varchar(255) NOT NULL,
  `name` varchar(255) NOT NULL,
  `total_jobs` int(11) NOT NULL,
  `pending_jobs` int(11) NOT NULL,
  `failed_jobs` int(11) NOT NULL,
  `failed_job_ids` longtext NOT NULL,
  `options` mediumtext DEFAULT NULL,
  `cancelled_at` int(11) DEFAULT NULL,
  `created_at` int(11) NOT NULL,
  `finished_at` int(11) DEFAULT NULL,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `job_batches`
--

LOCK TABLES `job_batches` WRITE;
/*!40000 ALTER TABLE `job_batches` DISABLE KEYS */;
/*!40000 ALTER TABLE `job_batches` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `jobs`
--

DROP TABLE IF EXISTS `jobs`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8mb4 */;
CREATE TABLE `jobs` (
  `id` bigint(20) unsigned NOT NULL AUTO_INCREMENT,
  `queue` varchar(255) NOT NULL,
  `payload` longtext NOT NULL,
  `attempts` tinyint(3) unsigned NOT NULL,
  `reserved_at` int(10) unsigned DEFAULT NULL,
  `available_at` int(10) unsigned NOT NULL,
  `created_at` int(10) unsigned NOT NULL,
  PRIMARY KEY (`id`),
  KEY `jobs_queue_index` (`queue`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `jobs`
--

LOCK TABLES `jobs` WRITE;
/*!40000 ALTER TABLE `jobs` DISABLE KEYS */;
/*!40000 ALTER TABLE `jobs` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `medico`
--

DROP TABLE IF EXISTS `medico`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8mb4 */;
CREATE TABLE `medico` (
  `IdMedico` int(10) unsigned NOT NULL AUTO_INCREMENT,
  `Nombre` varchar(150) NOT NULL,
  `Estado` tinyint(1) NOT NULL DEFAULT 1,
  PRIMARY KEY (`IdMedico`)
) ENGINE=InnoDB AUTO_INCREMENT=12 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `medico`
--

LOCK TABLES `medico` WRITE;
/*!40000 ALTER TABLE `medico` DISABLE KEYS */;
INSERT INTO `medico` VALUES
(1,'Dr. Renzo Huanca Flores',1),
(2,'Lic. Carmen Rojas Vela',1),
(3,'Dr. Pedro Ruiz',1),
(4,'Lic. Silvia Romero',1),
(5,'Tec. Monica Gil',1),
(6,'Dra. Maria Lopez',1),
(7,'Lic. Mario Tito',1),
(8,'Tec. Daniel Rios',1),
(9,'Dr. Jose Martinez',1),
(10,'Lic. Juanita Alva',1),
(11,'Tec. Victoria Salas',1);
/*!40000 ALTER TABLE `medico` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `medico_tipo_atencion`
--

DROP TABLE IF EXISTS `medico_tipo_atencion`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8mb4 */;
CREATE TABLE `medico_tipo_atencion` (
  `IdMedicoTipoAtencion` int(10) unsigned NOT NULL AUTO_INCREMENT,
  `Medico` int(10) unsigned NOT NULL,
  `TipoAtencion` int(10) unsigned NOT NULL,
  PRIMARY KEY (`IdMedicoTipoAtencion`),
  UNIQUE KEY `medico_tipo_atencion_medico_tipoatencion_unique` (`Medico`,`TipoAtencion`),
  KEY `medico_tipo_atencion_tipoatencion_foreign` (`TipoAtencion`),
  CONSTRAINT `medico_tipo_atencion_medico_foreign` FOREIGN KEY (`Medico`) REFERENCES `medico` (`IdMedico`),
  CONSTRAINT `medico_tipo_atencion_tipoatencion_foreign` FOREIGN KEY (`TipoAtencion`) REFERENCES `tipo_atencion` (`IdTipoAtencion`)
) ENGINE=InnoDB AUTO_INCREMENT=14 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `medico_tipo_atencion`
--

LOCK TABLES `medico_tipo_atencion` WRITE;
/*!40000 ALTER TABLE `medico_tipo_atencion` DISABLE KEYS */;
INSERT INTO `medico_tipo_atencion` VALUES
(1,1,1),
(2,1,3),
(3,2,2),
(4,2,3),
(5,3,1),
(6,4,2),
(7,5,3),
(8,6,1),
(9,7,2),
(10,8,3),
(11,9,1),
(12,10,2),
(13,11,3);
/*!40000 ALTER TABLE `medico_tipo_atencion` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `migrations`
--

DROP TABLE IF EXISTS `migrations`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8mb4 */;
CREATE TABLE `migrations` (
  `id` int(10) unsigned NOT NULL AUTO_INCREMENT,
  `migration` varchar(255) NOT NULL,
  `batch` int(11) NOT NULL,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=30 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `migrations`
--

LOCK TABLES `migrations` WRITE;
/*!40000 ALTER TABLE `migrations` DISABLE KEYS */;
/*!40000 ALTER TABLE `migrations` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `olimpiada_disciplina`
--

DROP TABLE IF EXISTS `olimpiada_disciplina`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8mb4 */;
CREATE TABLE `olimpiada_disciplina` (
  `IdDisciplina` int(10) unsigned NOT NULL AUTO_INCREMENT,
  `Nombre` varchar(150) NOT NULL,
  `Descripcion` text DEFAULT NULL,
  `TipoParticipacion` enum('individual','equipo') NOT NULL DEFAULT 'equipo',
  `Reglas` text DEFAULT NULL,
  `CupoMaximoDefault` int(10) unsigned DEFAULT NULL,
  `Estado` enum('activa','inactiva') NOT NULL DEFAULT 'activa',
  `FechaRegistro` datetime DEFAULT current_timestamp(),
  PRIMARY KEY (`IdDisciplina`),
  UNIQUE KEY `olimpiada_disciplina_nombre_unique` (`Nombre`)
) ENGINE=InnoDB AUTO_INCREMENT=7 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `olimpiada_disciplina`
--

LOCK TABLES `olimpiada_disciplina` WRITE;
/*!40000 ALTER TABLE `olimpiada_disciplina` DISABLE KEYS */;
INSERT INTO `olimpiada_disciplina` VALUES
(1,'F├║tbol',NULL,'equipo',NULL,18,'activa','2026-06-24 02:59:07'),
(2,'V├│leibol',NULL,'equipo',NULL,12,'activa','2026-06-24 02:59:07'),
(3,'B├ísquetbol',NULL,'equipo',NULL,12,'activa','2026-06-24 02:59:07'),
(4,'Atletismo',NULL,'individual',NULL,10,'activa','2026-06-24 02:59:07'),
(5,'Ajedrez',NULL,'individual',NULL,6,'activa','2026-06-24 02:59:07'),
(6,'Tenis de Mesa',NULL,'individual',NULL,6,'activa','2026-06-24 02:59:07');
/*!40000 ALTER TABLE `olimpiada_disciplina` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `olimpiada_edicion`
--

DROP TABLE IF EXISTS `olimpiada_edicion`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8mb4 */;
CREATE TABLE `olimpiada_edicion` (
  `IdEdicion` int(10) unsigned NOT NULL AUTO_INCREMENT,
  `Nombre` varchar(150) NOT NULL,
  `AnioInicio` smallint(5) unsigned NOT NULL,
  `SemestreInicio` tinyint(3) unsigned NOT NULL,
  `AnioFin` smallint(5) unsigned DEFAULT NULL,
  `SemestreFin` tinyint(3) unsigned DEFAULT NULL,
  `Estado` enum('planificada','inscripcion_abierta','inscripcion_cerrada','en_curso','finalizada','cancelada') NOT NULL DEFAULT 'planificada',
  `FechaAperturaInscripcion` datetime DEFAULT NULL,
  `FechaCierreInscripcion` datetime DEFAULT NULL,
  `FechaInicioJuegos` date DEFAULT NULL,
  `FechaFinJuegos` date DEFAULT NULL,
  `Observaciones` text DEFAULT NULL,
  `FechaRegistro` datetime DEFAULT current_timestamp(),
  PRIMARY KEY (`IdEdicion`),
  UNIQUE KEY `olimpiada_edicion_anioinicio_semestreinicio_unique` (`AnioInicio`,`SemestreInicio`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `olimpiada_edicion`
--

LOCK TABLES `olimpiada_edicion` WRITE;
/*!40000 ALTER TABLE `olimpiada_edicion` DISABLE KEYS */;
/*!40000 ALTER TABLE `olimpiada_edicion` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `olimpiada_edicion_disciplina`
--

DROP TABLE IF EXISTS `olimpiada_edicion_disciplina`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8mb4 */;
CREATE TABLE `olimpiada_edicion_disciplina` (
  `IdEdicionDisciplina` int(10) unsigned NOT NULL AUTO_INCREMENT,
  `Edicion` int(10) unsigned NOT NULL,
  `Disciplina` int(10) unsigned NOT NULL,
  `CupoMaximoPorFacultad` int(10) unsigned DEFAULT NULL,
  `ReglasEspecificas` text DEFAULT NULL,
  `Estado` enum('activa','inactiva') NOT NULL DEFAULT 'activa',
  PRIMARY KEY (`IdEdicionDisciplina`),
  UNIQUE KEY `olimpiada_edicion_disciplina_edicion_disciplina_unique` (`Edicion`,`Disciplina`),
  KEY `olimpiada_edicion_disciplina_disciplina_foreign` (`Disciplina`),
  CONSTRAINT `olimpiada_edicion_disciplina_disciplina_foreign` FOREIGN KEY (`Disciplina`) REFERENCES `olimpiada_disciplina` (`IdDisciplina`),
  CONSTRAINT `olimpiada_edicion_disciplina_edicion_foreign` FOREIGN KEY (`Edicion`) REFERENCES `olimpiada_edicion` (`IdEdicion`) ON DELETE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `olimpiada_edicion_disciplina`
--

LOCK TABLES `olimpiada_edicion_disciplina` WRITE;
/*!40000 ALTER TABLE `olimpiada_edicion_disciplina` DISABLE KEYS */;
/*!40000 ALTER TABLE `olimpiada_edicion_disciplina` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `olimpiada_inscripcion`
--

DROP TABLE IF EXISTS `olimpiada_inscripcion`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8mb4 */;
CREATE TABLE `olimpiada_inscripcion` (
  `IdInscripcion` bigint(20) unsigned NOT NULL AUTO_INCREMENT,
  `EdicionDisciplina` int(10) unsigned NOT NULL,
  `Usuario` int(10) unsigned NOT NULL,
  `Facultad` int(10) unsigned NOT NULL,
  `Estado` enum('inscrito','cancelado','rechazado') NOT NULL DEFAULT 'inscrito',
  `Observaciones` text DEFAULT NULL,
  `FechaInscripcion` datetime DEFAULT current_timestamp(),
  PRIMARY KEY (`IdInscripcion`),
  UNIQUE KEY `olimpiada_inscripcion_ediciondisciplina_usuario_unique` (`EdicionDisciplina`,`Usuario`),
  KEY `olimpiada_inscripcion_usuario_foreign` (`Usuario`),
  KEY `olimpiada_inscripcion_facultad_foreign` (`Facultad`),
  CONSTRAINT `olimpiada_inscripcion_ediciondisciplina_foreign` FOREIGN KEY (`EdicionDisciplina`) REFERENCES `olimpiada_edicion_disciplina` (`IdEdicionDisciplina`) ON DELETE CASCADE,
  CONSTRAINT `olimpiada_inscripcion_facultad_foreign` FOREIGN KEY (`Facultad`) REFERENCES `facultad` (`IdFacultad`),
  CONSTRAINT `olimpiada_inscripcion_usuario_foreign` FOREIGN KEY (`Usuario`) REFERENCES `usuario` (`IdUsuario`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `olimpiada_inscripcion`
--

LOCK TABLES `olimpiada_inscripcion` WRITE;
/*!40000 ALTER TABLE `olimpiada_inscripcion` DISABLE KEYS */;
/*!40000 ALTER TABLE `olimpiada_inscripcion` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `olimpiada_participacion_facultad`
--

DROP TABLE IF EXISTS `olimpiada_participacion_facultad`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8mb4 */;
CREATE TABLE `olimpiada_participacion_facultad` (
  `IdParticipacion` int(10) unsigned NOT NULL AUTO_INCREMENT,
  `EdicionDisciplina` int(10) unsigned NOT NULL,
  `Facultad` int(10) unsigned NOT NULL,
  `PartidosJugados` int(10) unsigned NOT NULL DEFAULT 0,
  `PartidosGanados` int(10) unsigned NOT NULL DEFAULT 0,
  `PartidosEmpatados` int(10) unsigned NOT NULL DEFAULT 0,
  `PartidosPerdidos` int(10) unsigned NOT NULL DEFAULT 0,
  `PuntosAFavor` int(10) unsigned NOT NULL DEFAULT 0,
  `PuntosEnContra` int(10) unsigned NOT NULL DEFAULT 0,
  `Puntos` int(10) unsigned NOT NULL DEFAULT 0,
  `Posicion` int(10) unsigned DEFAULT NULL,
  PRIMARY KEY (`IdParticipacion`),
  UNIQUE KEY `olimp_participacion_edic_fac_unique` (`EdicionDisciplina`,`Facultad`),
  KEY `olimpiada_participacion_facultad_facultad_foreign` (`Facultad`),
  CONSTRAINT `olimpiada_participacion_facultad_ediciondisciplina_foreign` FOREIGN KEY (`EdicionDisciplina`) REFERENCES `olimpiada_edicion_disciplina` (`IdEdicionDisciplina`) ON DELETE CASCADE,
  CONSTRAINT `olimpiada_participacion_facultad_facultad_foreign` FOREIGN KEY (`Facultad`) REFERENCES `facultad` (`IdFacultad`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `olimpiada_participacion_facultad`
--

LOCK TABLES `olimpiada_participacion_facultad` WRITE;
/*!40000 ALTER TABLE `olimpiada_participacion_facultad` DISABLE KEYS */;
/*!40000 ALTER TABLE `olimpiada_participacion_facultad` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `olimpiada_resultado`
--

DROP TABLE IF EXISTS `olimpiada_resultado`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8mb4 */;
CREATE TABLE `olimpiada_resultado` (
  `IdResultado` bigint(20) unsigned NOT NULL AUTO_INCREMENT,
  `EdicionDisciplina` int(10) unsigned NOT NULL,
  `FacultadLocal` int(10) unsigned NOT NULL,
  `FacultadVisitante` int(10) unsigned DEFAULT NULL,
  `Fase` varchar(50) NOT NULL DEFAULT 'grupos',
  `Grupo` varchar(50) DEFAULT NULL,
  `FechaPartido` datetime DEFAULT NULL,
  `PuntajeLocal` int(10) unsigned DEFAULT NULL,
  `PuntajeVisitante` int(10) unsigned DEFAULT NULL,
  `FacultadGanadora` int(10) unsigned DEFAULT NULL,
  `Estado` enum('programado','en_curso','finalizado','cancelado','suspendido') NOT NULL DEFAULT 'programado',
  `Observaciones` text DEFAULT NULL,
  `FechaRegistro` datetime DEFAULT current_timestamp(),
  PRIMARY KEY (`IdResultado`),
  KEY `olimpiada_resultado_ediciondisciplina_foreign` (`EdicionDisciplina`),
  KEY `olimpiada_resultado_facultadlocal_foreign` (`FacultadLocal`),
  KEY `olimpiada_resultado_facultadvisitante_foreign` (`FacultadVisitante`),
  KEY `olimpiada_resultado_facultadganadora_foreign` (`FacultadGanadora`),
  CONSTRAINT `olimpiada_resultado_ediciondisciplina_foreign` FOREIGN KEY (`EdicionDisciplina`) REFERENCES `olimpiada_edicion_disciplina` (`IdEdicionDisciplina`) ON DELETE CASCADE,
  CONSTRAINT `olimpiada_resultado_facultadganadora_foreign` FOREIGN KEY (`FacultadGanadora`) REFERENCES `facultad` (`IdFacultad`),
  CONSTRAINT `olimpiada_resultado_facultadlocal_foreign` FOREIGN KEY (`FacultadLocal`) REFERENCES `facultad` (`IdFacultad`),
  CONSTRAINT `olimpiada_resultado_facultadvisitante_foreign` FOREIGN KEY (`FacultadVisitante`) REFERENCES `facultad` (`IdFacultad`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `olimpiada_resultado`
--

LOCK TABLES `olimpiada_resultado` WRITE;
/*!40000 ALTER TABLE `olimpiada_resultado` DISABLE KEYS */;
/*!40000 ALTER TABLE `olimpiada_resultado` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `password_reset_tokens`
--

DROP TABLE IF EXISTS `password_reset_tokens`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8mb4 */;
CREATE TABLE `password_reset_tokens` (
  `email` varchar(255) NOT NULL,
  `token` varchar(255) NOT NULL,
  `created_at` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`email`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `password_reset_tokens`
--

LOCK TABLES `password_reset_tokens` WRITE;
/*!40000 ALTER TABLE `password_reset_tokens` DISABLE KEYS */;
/*!40000 ALTER TABLE `password_reset_tokens` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `psicologo`
--

DROP TABLE IF EXISTS `psicologo`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8mb4 */;
CREATE TABLE `psicologo` (
  `IdPsicologo` int(10) unsigned NOT NULL AUTO_INCREMENT,
  `Nombre` varchar(150) NOT NULL,
  `Especialidad` varchar(150) DEFAULT NULL,
  `Estado` tinyint(1) NOT NULL DEFAULT 1,
  PRIMARY KEY (`IdPsicologo`)
) ENGINE=InnoDB AUTO_INCREMENT=3 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `psicologo`
--

LOCK TABLES `psicologo` WRITE;
/*!40000 ALTER TABLE `psicologo` DISABLE KEYS */;
INSERT INTO `psicologo` VALUES
(1,'Mariela Quispe Flores','Psicolog├¡a cl├¡nica',1),
(2,'Jorge Salas Vargas','Psicolog├¡a educativa',1);
/*!40000 ALTER TABLE `psicologo` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `reserva`
--

DROP TABLE IF EXISTS `reserva`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8mb4 */;
CREATE TABLE `reserva` (
  `IdReserva` int(10) unsigned NOT NULL AUTO_INCREMENT,
  `usuario` int(10) unsigned NOT NULL,
  `espacio` int(10) unsigned NOT NULL,
  `bloque` int(10) unsigned NOT NULL,
  `curso` int(10) unsigned NOT NULL,
  `fechaReserva` date NOT NULL,
  `fechaSolicitud` datetime NOT NULL DEFAULT current_timestamp(),
  `DescripcionUso` text DEFAULT NULL,
  `CantidadEstudiantes` int(11) NOT NULL DEFAULT 1,
  `Estado` enum('Pendiente','Aprobada','Rechazada','Cancelada') NOT NULL DEFAULT 'Pendiente',
  PRIMARY KEY (`IdReserva`),
  KEY `reserva_usuario_foreign` (`usuario`),
  KEY `reserva_espacio_foreign` (`espacio`),
  KEY `reserva_bloque_foreign` (`bloque`),
  KEY `reserva_curso_foreign` (`curso`),
  CONSTRAINT `reserva_bloque_foreign` FOREIGN KEY (`bloque`) REFERENCES `bloqueshorarios` (`IdBloque`),
  CONSTRAINT `reserva_curso_foreign` FOREIGN KEY (`curso`) REFERENCES `cursos` (`IdCurso`),
  CONSTRAINT `reserva_espacio_foreign` FOREIGN KEY (`espacio`) REFERENCES `espacio` (`IdEspacio`),
  CONSTRAINT `reserva_usuario_foreign` FOREIGN KEY (`usuario`) REFERENCES `usuario` (`IdUsuario`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `reserva`
--

LOCK TABLES `reserva` WRITE;
/*!40000 ALTER TABLE `reserva` DISABLE KEYS */;
/*!40000 ALTER TABLE `reserva` ENABLE KEYS */;
UNLOCK TABLES;
/*!50003 SET @saved_cs_client      = @@character_set_client */ ;
/*!50003 SET @saved_cs_results     = @@character_set_results */ ;
/*!50003 SET @saved_col_connection = @@collation_connection */ ;
/*!50003 SET character_set_client  = utf8mb4 */ ;
/*!50003 SET character_set_results = utf8mb4 */ ;
/*!50003 SET collation_connection  = utf8mb4_unicode_ci */ ;
/*!50003 SET @saved_sql_mode       = @@sql_mode */ ;
/*!50003 SET sql_mode              = 'ONLY_FULL_GROUP_BY,STRICT_TRANS_TABLES,NO_ZERO_IN_DATE,NO_ZERO_DATE,ERROR_FOR_DIVISION_BY_ZERO,NO_ENGINE_SUBSTITUTION' */ ;
DELIMITER ;;
/*!50003 CREATE*/ /*!50017 DEFINER=`root`@`localhost`*/ /*!50003 TRIGGER trg_verificar_sanciones_activas BEFORE INSERT ON reserva FOR EACH ROW 
            BEGIN
                DECLARE sancion_activa INT DEFAULT 0;
                
                SELECT COUNT(*) INTO sancion_activa
                FROM sancion 
                WHERE Usuario = NEW.usuario 
                AND Estado = 'Activa'
                AND CURDATE() BETWEEN FechaInicio AND FechaFin;
                
                IF sancion_activa > 0 THEN
                    SIGNAL SQLSTATE '45000' 
                    SET MESSAGE_TEXT = 'El usuario tiene una sanci├│n activa y no puede realizar reservas';
                END IF;
            END 
*/;;
DELIMITER ;
/*!50003 SET sql_mode              = @saved_sql_mode */ ;
/*!50003 SET character_set_client  = @saved_cs_client */ ;
/*!50003 SET character_set_results = @saved_cs_results */ ;
/*!50003 SET collation_connection  = @saved_col_connection */ ;
/*!50003 SET @saved_cs_client      = @@character_set_client */ ;
/*!50003 SET @saved_cs_results     = @@character_set_results */ ;
/*!50003 SET @saved_col_connection = @@collation_connection */ ;
/*!50003 SET character_set_client  = utf8mb4 */ ;
/*!50003 SET character_set_results = utf8mb4 */ ;
/*!50003 SET collation_connection  = utf8mb4_unicode_ci */ ;
/*!50003 SET @saved_sql_mode       = @@sql_mode */ ;
/*!50003 SET sql_mode              = 'ONLY_FULL_GROUP_BY,STRICT_TRANS_TABLES,NO_ZERO_IN_DATE,NO_ZERO_DATE,ERROR_FOR_DIVISION_BY_ZERO,NO_ENGINE_SUBSTITUTION' */ ;
DELIMITER ;;
/*!50003 CREATE*/ /*!50017 DEFINER=`root`@`localhost`*/ /*!50003 TRIGGER trg_auditoria_reserva AFTER UPDATE ON reserva FOR EACH ROW 
            BEGIN
                DECLARE usuario_gestion INT;
                
                IF OLD.Estado <> NEW.Estado THEN
                    SELECT rg.UsuarioGestion INTO usuario_gestion
                    FROM reserva_gestion rg
                    WHERE rg.IdReserva = NEW.IdReserva
                    ORDER BY rg.FechaGestion DESC
                    LIMIT 1;
                    
                    SET usuario_gestion = COALESCE(usuario_gestion, NEW.usuario);
                    
                    INSERT INTO auditoriareserva (IdReserva, EstadoAnterior, EstadoNuevo, UsuarioCambio)
                    VALUES (NEW.IdReserva, OLD.Estado, NEW.Estado, usuario_gestion);
                END IF;
            END 
*/;;
DELIMITER ;
/*!50003 SET sql_mode              = @saved_sql_mode */ ;
/*!50003 SET character_set_client  = @saved_cs_client */ ;
/*!50003 SET character_set_results = @saved_cs_results */ ;
/*!50003 SET collation_connection  = @saved_col_connection */ ;
/*!50003 SET @saved_cs_client      = @@character_set_client */ ;
/*!50003 SET @saved_cs_results     = @@character_set_results */ ;
/*!50003 SET @saved_col_connection = @@collation_connection */ ;
/*!50003 SET character_set_client  = utf8mb4 */ ;
/*!50003 SET character_set_results = utf8mb4 */ ;
/*!50003 SET collation_connection  = utf8mb4_unicode_ci */ ;
/*!50003 SET @saved_sql_mode       = @@sql_mode */ ;
/*!50003 SET sql_mode              = 'ONLY_FULL_GROUP_BY,STRICT_TRANS_TABLES,NO_ZERO_IN_DATE,NO_ZERO_DATE,ERROR_FOR_DIVISION_BY_ZERO,NO_ENGINE_SUBSTITUTION' */ ;
DELIMITER ;;
/*!50003 CREATE*/ /*!50017 DEFINER=`root`@`localhost`*/ /*!50003 TRIGGER trg_actualizar_horario_update AFTER UPDATE ON reserva FOR EACH ROW
            BEGIN
                DECLARE dia ENUM('Lunes','Martes','Miercoles','Jueves','Viernes','Sabado') COLLATE utf8mb4_unicode_ci;

                SET dia = CASE DAYOFWEEK(NEW.fechaReserva)
                    WHEN 2 THEN 'Lunes'
                    WHEN 3 THEN 'Martes'
                    WHEN 4 THEN 'Miercoles'
                    WHEN 5 THEN 'Jueves'
                    WHEN 6 THEN 'Viernes'
                    WHEN 7 THEN 'Sabado'
                    ELSE 'Lunes'
                END;

                IF NEW.Estado = 'Aprobada' THEN
                    UPDATE horarios h
                    SET h.ocupado = 1
                    WHERE h.espacio = NEW.espacio
                      AND h.bloque = NEW.bloque
                      AND h.diaSemana = dia;
                ELSEIF NEW.Estado IN ('Rechazada','Cancelada') AND OLD.Estado = 'Aprobada' THEN
                    UPDATE horarios h
                    SET h.ocupado = 0
                    WHERE h.espacio = NEW.espacio
                      AND h.bloque = NEW.bloque
                      AND h.diaSemana = dia;
                END IF;
            END 
*/;;
DELIMITER ;
/*!50003 SET sql_mode              = @saved_sql_mode */ ;
/*!50003 SET character_set_client  = @saved_cs_client */ ;
/*!50003 SET character_set_results = @saved_cs_results */ ;
/*!50003 SET collation_connection  = @saved_col_connection */ ;

--
-- Table structure for table `reserva_gestion`
--

DROP TABLE IF EXISTS `reserva_gestion`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8mb4 */;
CREATE TABLE `reserva_gestion` (
  `IdGestion` int(10) unsigned NOT NULL AUTO_INCREMENT,
  `IdReserva` int(10) unsigned NOT NULL,
  `UsuarioGestion` int(10) unsigned NOT NULL COMMENT 'Admin que gestiona',
  `FechaGestion` datetime NOT NULL DEFAULT current_timestamp(),
  `Accion` enum('Aprobar','Rechazar') NOT NULL,
  `Motivo` text NOT NULL COMMENT 'Motivo de la acci├│n',
  `Comentarios` text DEFAULT NULL COMMENT 'Comentarios adicionales',
  PRIMARY KEY (`IdGestion`),
  KEY `reserva_gestion_idreserva_foreign` (`IdReserva`),
  KEY `reserva_gestion_usuariogestion_foreign` (`UsuarioGestion`),
  CONSTRAINT `reserva_gestion_idreserva_foreign` FOREIGN KEY (`IdReserva`) REFERENCES `reserva` (`IdReserva`) ON DELETE CASCADE,
  CONSTRAINT `reserva_gestion_usuariogestion_foreign` FOREIGN KEY (`UsuarioGestion`) REFERENCES `usuario` (`IdUsuario`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `reserva_gestion`
--

LOCK TABLES `reserva_gestion` WRITE;
/*!40000 ALTER TABLE `reserva_gestion` DISABLE KEYS */;
/*!40000 ALTER TABLE `reserva_gestion` ENABLE KEYS */;
UNLOCK TABLES;
/*!50003 SET @saved_cs_client      = @@character_set_client */ ;
/*!50003 SET @saved_cs_results     = @@character_set_results */ ;
/*!50003 SET @saved_col_connection = @@collation_connection */ ;
/*!50003 SET character_set_client  = utf8mb4 */ ;
/*!50003 SET character_set_results = utf8mb4 */ ;
/*!50003 SET collation_connection  = utf8mb4_unicode_ci */ ;
/*!50003 SET @saved_sql_mode       = @@sql_mode */ ;
/*!50003 SET sql_mode              = 'ONLY_FULL_GROUP_BY,STRICT_TRANS_TABLES,NO_ZERO_IN_DATE,NO_ZERO_DATE,ERROR_FOR_DIVISION_BY_ZERO,NO_ENGINE_SUBSTITUTION' */ ;
DELIMITER ;;
/*!50003 CREATE*/ /*!50017 DEFINER=`root`@`localhost`*/ /*!50003 TRIGGER trg_sincronizar_estado_gestion AFTER INSERT ON reserva_gestion FOR EACH ROW 
            BEGIN
                DECLARE nuevo_estado VARCHAR(20);
                
                CASE NEW.Accion
                    WHEN 'Aprobar' THEN SET nuevo_estado = 'Aprobada';
                    WHEN 'Rechazar' THEN SET nuevo_estado = 'Rechazada';
                    ELSE SET nuevo_estado = 'Pendiente';
                END CASE;
                
                UPDATE reserva 
                SET Estado = nuevo_estado 
                WHERE IdReserva = NEW.IdReserva;
            END 
*/;;
DELIMITER ;
/*!50003 SET sql_mode              = @saved_sql_mode */ ;
/*!50003 SET character_set_client  = @saved_cs_client */ ;
/*!50003 SET character_set_results = @saved_cs_results */ ;
/*!50003 SET collation_connection  = @saved_col_connection */ ;

--
-- Table structure for table `reserva_qr`
--

DROP TABLE IF EXISTS `reserva_qr`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8mb4 */;
CREATE TABLE `reserva_qr` (
  `id` bigint(20) unsigned NOT NULL AUTO_INCREMENT,
  `token` varchar(255) NOT NULL,
  `reserva_id` bigint(20) unsigned NOT NULL,
  `laboratorio` varchar(255) NOT NULL,
  `fecha` varchar(255) NOT NULL,
  `hora` varchar(255) NOT NULL,
  `estado` varchar(255) NOT NULL,
  `solicitante_nombre` varchar(255) NOT NULL,
  `solicitante_codigo` varchar(255) NOT NULL,
  `generado_en` timestamp NOT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `reserva_qr_token_unique` (`token`),
  KEY `reserva_qr_reserva_id_index` (`reserva_id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `reserva_qr`
--

LOCK TABLES `reserva_qr` WRITE;
/*!40000 ALTER TABLE `reserva_qr` DISABLE KEYS */;
/*!40000 ALTER TABLE `reserva_qr` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `rol`
--

DROP TABLE IF EXISTS `rol`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8mb4 */;
CREATE TABLE `rol` (
  `IdRol` int(11) NOT NULL,
  `Nombre` varchar(15) NOT NULL,
  PRIMARY KEY (`IdRol`),
  UNIQUE KEY `rol_nombre_unique` (`Nombre`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `rol`
--

LOCK TABLES `rol` WRITE;
/*!40000 ALTER TABLE `rol` DISABLE KEYS */;
INSERT INTO `rol` VALUES
(3,'Administrador'),
(2,'Estudiante'),
(1,'Profesor'),
(4,'Supervisor');
/*!40000 ALTER TABLE `rol` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `sancion`
--

DROP TABLE IF EXISTS `sancion`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8mb4 */;
CREATE TABLE `sancion` (
  `IdSancion` bigint(20) unsigned NOT NULL AUTO_INCREMENT,
  `Usuario` int(10) unsigned NOT NULL,
  `Motivo` text NOT NULL,
  `FechaInicio` date NOT NULL,
  `FechaFin` date NOT NULL,
  `Estado` enum('ACTIVA','CUMPLIDA') NOT NULL,
  `TipoUsuario` enum('DOCENTE','ESTUDIANTE') NOT NULL,
  PRIMARY KEY (`IdSancion`),
  KEY `sancion_usuario_foreign` (`Usuario`),
  CONSTRAINT `sancion_usuario_foreign` FOREIGN KEY (`Usuario`) REFERENCES `usuario` (`IdUsuario`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `sancion`
--

LOCK TABLES `sancion` WRITE;
/*!40000 ALTER TABLE `sancion` DISABLE KEYS */;
/*!40000 ALTER TABLE `sancion` ENABLE KEYS */;
UNLOCK TABLES;
/*!50003 SET @saved_cs_client      = @@character_set_client */ ;
/*!50003 SET @saved_cs_results     = @@character_set_results */ ;
/*!50003 SET @saved_col_connection = @@collation_connection */ ;
/*!50003 SET character_set_client  = utf8mb4 */ ;
/*!50003 SET character_set_results = utf8mb4 */ ;
/*!50003 SET collation_connection  = utf8mb4_unicode_ci */ ;
/*!50003 SET @saved_sql_mode       = @@sql_mode */ ;
/*!50003 SET sql_mode              = 'ONLY_FULL_GROUP_BY,STRICT_TRANS_TABLES,NO_ZERO_IN_DATE,NO_ZERO_DATE,ERROR_FOR_DIVISION_BY_ZERO,NO_ENGINE_SUBSTITUTION' */ ;
DELIMITER ;;
/*!50003 CREATE*/ /*!50017 DEFINER=`root`@`localhost`*/ /*!50003 TRIGGER trg_actualizar_estado_sancion BEFORE UPDATE ON sancion FOR EACH ROW 
            BEGIN
                IF CURDATE() > NEW.FechaFin AND NEW.Estado = 'Activa' THEN
                    SET NEW.Estado = 'Cumplida';
                END IF;
            END 
*/;;
DELIMITER ;
/*!50003 SET sql_mode              = @saved_sql_mode */ ;
/*!50003 SET character_set_client  = @saved_cs_client */ ;
/*!50003 SET character_set_results = @saved_cs_results */ ;
/*!50003 SET collation_connection  = @saved_col_connection */ ;

--
-- Table structure for table `sessions`
--

DROP TABLE IF EXISTS `sessions`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8mb4 */;
CREATE TABLE `sessions` (
  `id` varchar(255) NOT NULL,
  `user_id` bigint(20) unsigned DEFAULT NULL,
  `ip_address` varchar(45) DEFAULT NULL,
  `user_agent` text DEFAULT NULL,
  `payload` longtext NOT NULL,
  `last_activity` int(11) NOT NULL,
  PRIMARY KEY (`id`),
  KEY `sessions_user_id_index` (`user_id`),
  KEY `sessions_last_activity_index` (`last_activity`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `sessions`
--

LOCK TABLES `sessions` WRITE;
/*!40000 ALTER TABLE `sessions` DISABLE KEYS */;
/*!40000 ALTER TABLE `sessions` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `tipo_atencion`
--

DROP TABLE IF EXISTS `tipo_atencion`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8mb4 */;
CREATE TABLE `tipo_atencion` (
  `IdTipoAtencion` int(10) unsigned NOT NULL AUTO_INCREMENT,
  `Nombre` varchar(100) NOT NULL,
  `Estado` tinyint(1) NOT NULL DEFAULT 1,
  PRIMARY KEY (`IdTipoAtencion`)
) ENGINE=InnoDB AUTO_INCREMENT=4 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `tipo_atencion`
--

LOCK TABLES `tipo_atencion` WRITE;
/*!40000 ALTER TABLE `tipo_atencion` DISABLE KEYS */;
INSERT INTO `tipo_atencion` VALUES
(1,'Medicina General',1),
(2,'Enfermer├¡a',1),
(3,'T├│pico de Emergencia',1);
/*!40000 ALTER TABLE `tipo_atencion` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `tipodocumento`
--

DROP TABLE IF EXISTS `tipodocumento`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8mb4 */;
CREATE TABLE `tipodocumento` (
  `IdTipoDoc` int(10) unsigned NOT NULL AUTO_INCREMENT,
  `Nombre` varchar(50) NOT NULL,
  `Abreviatura` varchar(10) NOT NULL,
  PRIMARY KEY (`IdTipoDoc`),
  UNIQUE KEY `tipodocumento_nombre_unique` (`Nombre`),
  UNIQUE KEY `tipodocumento_abreviatura_unique` (`Abreviatura`)
) ENGINE=InnoDB AUTO_INCREMENT=13 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `tipodocumento`
--

LOCK TABLES `tipodocumento` WRITE;
/*!40000 ALTER TABLE `tipodocumento` DISABLE KEYS */;
INSERT INTO `tipodocumento` VALUES
(1,'Documento Nacional de Identidad','DNI'),
(2,'Carnet de Extranjer├¡a','CE'),
(3,'Pasaporte','PAS'),
(4,'Permiso Temporal de Permanencia','PTP'),
(5,'C├®dula de Identidad','CI'),
(6,'Registro ├Ünico de Contribuyente','RUC'),
(7,'Partida de Nacimiento','PN'),
(8,'Carnet de Refugiado','CR'),
(9,'Documento de Identidad Extranjero','DIE'),
(10,'Licencia de Conducir','LIC'),
(11,'Carnet Universitario','CU'),
(12,'Otro','OTRO');
/*!40000 ALTER TABLE `tipodocumento` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `users`
--

DROP TABLE IF EXISTS `users`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8mb4 */;
CREATE TABLE `users` (
  `id` bigint(20) unsigned NOT NULL AUTO_INCREMENT,
  `name` varchar(255) NOT NULL,
  `email` varchar(255) NOT NULL,
  `email_verified_at` timestamp NULL DEFAULT NULL,
  `password` varchar(255) NOT NULL,
  `remember_token` varchar(100) DEFAULT NULL,
  `created_at` timestamp NULL DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `users_email_unique` (`email`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `users`
--

LOCK TABLES `users` WRITE;
/*!40000 ALTER TABLE `users` DISABLE KEYS */;
/*!40000 ALTER TABLE `users` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `usuario`
--

DROP TABLE IF EXISTS `usuario`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8mb4 */;
CREATE TABLE `usuario` (
  `IdUsuario` int(10) unsigned NOT NULL AUTO_INCREMENT,
  `Nombre` varchar(255) NOT NULL,
  `Apellido` varchar(255) NOT NULL,
  `TipoDoc` int(10) unsigned NOT NULL,
  `NumDoc` varchar(255) DEFAULT NULL,
  `Rol` int(11) NOT NULL,
  `Celular` varchar(11) DEFAULT NULL,
  `Genero` tinyint(1) DEFAULT NULL,
  `Estado` int(11) NOT NULL DEFAULT 1,
  `FechaRegistro` datetime DEFAULT current_timestamp(),
  PRIMARY KEY (`IdUsuario`),
  UNIQUE KEY `usuario_numdoc_unique` (`NumDoc`),
  KEY `usuario_rol_foreign` (`Rol`),
  KEY `usuario_tipodoc_foreign` (`TipoDoc`),
  CONSTRAINT `usuario_rol_foreign` FOREIGN KEY (`Rol`) REFERENCES `rol` (`IdRol`),
  CONSTRAINT `usuario_tipodoc_foreign` FOREIGN KEY (`TipoDoc`) REFERENCES `tipodocumento` (`IdTipoDoc`)
) ENGINE=InnoDB AUTO_INCREMENT=459 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `usuario`
--

LOCK TABLES `usuario` WRITE;
/*!40000 ALTER TABLE `usuario` DISABLE KEYS */;
/*!40000 ALTER TABLE `usuario` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `usuario_auth`
--

DROP TABLE IF EXISTS `usuario_auth`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8mb4 */;
CREATE TABLE `usuario_auth` (
  `IdAuth` int(10) unsigned NOT NULL AUTO_INCREMENT,
  `IdUsuario` int(10) unsigned NOT NULL,
  `CorreoU` varchar(100) NOT NULL,
  `Password` varchar(255) NOT NULL DEFAULT '',
  `UltimoLogin` datetime DEFAULT NULL,
  `SesionToken` varchar(255) DEFAULT NULL,
  `SesionExpira` datetime DEFAULT NULL,
  `SesionTipo` varchar(20) DEFAULT NULL,
  PRIMARY KEY (`IdAuth`),
  UNIQUE KEY `usuario_auth_idusuario_unique` (`IdUsuario`),
  UNIQUE KEY `usuario_auth_correou_unique` (`CorreoU`),
  CONSTRAINT `usuario_auth_idusuario_foreign` FOREIGN KEY (`IdUsuario`) REFERENCES `usuario` (`IdUsuario`) ON DELETE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=1539 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `usuario_auth`
--

LOCK TABLES `usuario_auth` WRITE;
/*!40000 ALTER TABLE `usuario_auth` DISABLE KEYS */;
/*!40000 ALTER TABLE `usuario_auth` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `usuario_sesion`
--

DROP TABLE IF EXISTS `usuario_sesion`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8mb4 */;
CREATE TABLE `usuario_sesion` (
  `IdSesion` int(10) unsigned NOT NULL AUTO_INCREMENT,
  `IdUsuario` int(10) unsigned NOT NULL,
  `Dispositivo` varchar(50) DEFAULT NULL,
  `IP` varchar(45) DEFAULT NULL,
  `Activa` tinyint(1) NOT NULL DEFAULT 1,
  PRIMARY KEY (`IdSesion`),
  KEY `usuario_sesion_idusuario_foreign` (`IdUsuario`),
  CONSTRAINT `usuario_sesion_idusuario_foreign` FOREIGN KEY (`IdUsuario`) REFERENCES `usuario` (`IdUsuario`) ON DELETE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `usuario_sesion`
--

LOCK TABLES `usuario_sesion` WRITE;
/*!40000 ALTER TABLE `usuario_sesion` DISABLE KEYS */;
/*!40000 ALTER TABLE `usuario_sesion` ENABLE KEYS */;
UNLOCK TABLES;
/*!40103 SET TIME_ZONE=@OLD_TIME_ZONE */;

/*!40101 SET SQL_MODE=@OLD_SQL_MODE */;
/*!40014 SET FOREIGN_KEY_CHECKS=@OLD_FOREIGN_KEY_CHECKS */;
/*!40014 SET UNIQUE_CHECKS=@OLD_UNIQUE_CHECKS */;
/*!40101 SET CHARACTER_SET_CLIENT=@OLD_CHARACTER_SET_CLIENT */;
/*!40101 SET CHARACTER_SET_RESULTS=@OLD_CHARACTER_SET_RESULTS */;
/*!40101 SET COLLATION_CONNECTION=@OLD_COLLATION_CONNECTION */;
/*!40111 SET SQL_NOTES=@OLD_SQL_NOTES */;

-- Dump completed on 2026-06-24 12:22:46
