Options -Indexes
RewriteEngine On

# Servir archivos y directorios reales tal cual
RewriteCond %{REQUEST_FILENAME} -f [OR]
RewriteCond %{REQUEST_FILENAME} -d
RewriteRule ^ - [L]

# Todo lo demás pasa por index.php
RewriteRule ^ index.php [L]
